* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(87, 87, 87);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.align {
  margin: 0 auto;
}
section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4% 2%;
  border-bottom-right-radius: 100px;
  width: 500px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
form {
  display: flex;
  flex-direction: row;
  margin-bottom: 1;
}
input {
  width: 80px;
  padding: 1.5%;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  margin-right: 2%;
}
input[type="text"] {
  padding: 8px 8px;
  font-size: 15px;
  font-weight: 600;
}
input::placeholder {
  font-weight: 300;
}
label {
  font-size: 8px;
  text-align: center;
  width: 100%;
  padding-left: 4%;
}
.output {
  align-self: flex-start;
  margin-top: 5%;
}
span{
    color: #ff4141;
    font-size: 30px;
}
#arrow {
  width: 35px;
}
.error {
  color: red;
  font-size: small;
}
button {
  background: white;
  border: none;
  position: absolute;
  right: 20%;
  top: 42%;
  cursor: pointer;
}
hr {
  align-self: flex-start;
  width: 80%;
  margin-top: 8%;
}
